/*
  ==================================
  Task 6 filters styling
  ==================================
*/

.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

button {
    font-size: 18px;
    background-color: #FF5A6F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    position: absolute;
    right: 30px;
}

button:hover {
    opacity: 90%;
}

.filters div {
    height: 100%;
    width: 25%;
    position: relative;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.amenities {
    border-right: 1px solid #DDDDDD;
    
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    position: absolute;
    left: 40px;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    position: absolute;
    left: 40px;
    top: 50%;
}

.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 4px 4px;
    position: absolute;
    padding: 0;
    width: 100%;
    top: 56px;
    display: none;
}

.popover li {
    list-style-type: none;
}

.locations h2 {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 14px
}

.popover li:last-child {
    padding-bottom: 10px;
}

.amenities li {
    padding-left: 40px;
}

.amenities ul {
    padding-top: 20px;
    padding-bottom: 10px;
}

.amenities:hover .popover,
.locations:hover .popover {
    display: block;
}
